In [3]:
import datetime
import yfinance as yf

end = datetime.datetime.today()  # Get today's date dynamically
start = end - datetime.timedelta(days=10)  # Subtract 10 days from today

Nvidia = yf.download('NVDA', start=start, end=end)
Nvidia

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-02-20,719.469971,719.559998,677.340027,694.520020,694.520020,70483300
2024-02-21,680.059998,688.880005,662.479980,674.719971,674.719971,69029800
2024-02-22,750.250000,785.750000,742.200012,785.380005,785.380005,86510000
2024-02-23,807.900024,823.940002,775.700012,788.169983,788.169983,82711200
2024-02-26,797.000000,806.460022,785.049988,790.919983,790.919983,50397300
2024-02-27,793.809998,794.799988,771.619995,787.010010,787.010010,39170500
2024-02-28,776.200012,789.330017,771.250000,776.630005,776.630005,39194600

In [5]:
type(Nvidia)

pandas.core.frame.DataFrame

In [7]:
Nvidia.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7 entries, 2024-02-20 to 2024-02-28
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       7 non-null      float64
 1   High       7 non-null      float64
 2   Low        7 non-null      float64
 3   Close      7 non-null      float64
 4   Adj Close  7 non-null      float64
 5   Volume     7 non-null      int64
dtypes: float64(5), int64(1)
memory usage: 392.0 bytes